.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: pink;
  z-index: 999;
}

.header-section .logo a {
  display: inline-block;
}

.logo {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0px 10%;
  box-sizing: border-box;
  font-size: 700;
  display:block;
}

.logo a {
  text-decoration: none;
}

.logo h2 {
  font-family: "Muli", sans-serif;
  padding-top: 4px;
  color: white;
  text-align: center;
  height: 100%;
  font-size:20px;
  display: inline-block;
}

.logo h2 small {
  font-family: "Muli", sans-serif;
  text-indent: 4em;
  color: white;
  display: block;
  font-size: 0.6em;
}

.product {
  font-family: webfont;
  color: white;
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
}
