.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: pink;
  z-index: 999;
}

@font-face {
  /* 嵌入字體 */
  src: url("font/crazy_rich/_CRAZY_RICH_.otf");
  font-family: webfont;
}

.inner-header .logo h2 {
  font-family: webfont;
  padding-top: 10px;
  color: white;
  text-align: center;
  height: 100%;
  line-height: 30px;
}

.inner-header .logo h2 small {
  font-family: webfont;
  margin-top: -2px;
  text-indent: 4em;
  color: white;
  display: block;
  font-size: 0.4em;
}

.header-section .logo a {
  display: inline-block;
}

.logo {
  float: left;
  width: 25%;
  height: 100%;
  padding: 0px 7%;
  box-sizing: border-box;
  font-size: 700;
}

.logo a {
  text-decoration: none;
}

@font-face {
  /* 嵌入字體 */
  src: url("font/crazy_rich/_CRAZY_RICH_.otf");
  font-family: webfont;
}

.logo h2 {
  font-family: webfont;
  padding-top: 6px;
  color: white;
  text-align: center;
  height: 100%;
}

.logo h2 small {
  font-family: webfont;
  text-indent: 4em;
  color: white;
  display: block;
  font-size: 0.4em;
}

.product {
  font-family: webfont;
  color: white;
  margin-top: 30px;
  font-weight: 700;
  font-size: 25px;
}
